@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d7e4ed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8aa7bb;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5d7f95;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  width: 100%;
}
